.pagination {
  display: flex;
  margin: auto;
  gap: 2vh;
  padding: 15px;
}

.pagination a {
  background: #262e38;
  border-radius: 50%;
  color: #7b8696;
  padding: 15px 25px;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
