h2 {
  font-size: 3vh;
}
.img-div {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #262e38;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.star-img {
  width: 20px; /* Set width of the star image */
  height: 20px; /* Set height of the star image */
}
